<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="index-wrapper output-wrapper">
      <ul class="nav">
        <li class="nav-item  active">
          <a class="nav-link" href="/">库存查询</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/instock">商品入库</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/outstock">商品出库</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/errstock">库存异常</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/customer">客户信息</a>
        </li>
      </ul>
      <div class="nav-content">
        <div class="row g-3 align-items-center">
          <div class="col-6">
            <input type="text" id="searchInput" class="form-control" placeholder="收件人手机号或取件码">
          </div>
          <div class="col-auto">
            <button type="button" class="btn btn-primary" id="searchBtn">搜索</button>
          </div>
        </div>
        <table class="table table-striped table-hover mt-4">
          <thead>
            <tr>
              <th scope="col">库存id（出库时使用）</th>
              <th scope="col">商品名称</th>
              <th scope="col">收件人姓名</th>
              <th scope="col">取件码</th>
              <th scope="col">入库人姓名</th>
              <th scope="col">是否出库</th>
              <th scope="col">入库时间</th>
              <th scope="col">出库时间</th>
            </tr>
          </thead>
          <tbody id="tableBody">
            <!-- <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>Otto</td>
              <td>@mdo</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td> 
            </tr> -->
          </tbody>
        </table>
      </div>
    </div>
    <script src="/js/axios.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
