<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <div class="index-wrapper output-wrapper">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" href="/">库存查询</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="/instock">商品入库</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/outstock">商品出库</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/errstock">库存异常</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/customer">客户信息</a>
        </li>
      </ul>
      <div class="nav-content">
        <form class="instock-form">
          <div class="form-floating mb-1">
            <input type="text" class="form-control" id="name" placeholder="用户名">
            <label for="name">收件人姓名</label>
          </div>
          <div class="form-floating mb-1">
            <input type="text" class="form-control" id="phone" placeholder="密码">
            <label for="phone">收件人手机号</label>
          </div>
          <div class="form-floating mb-1">
            <input type="text" class="form-control" id="goodsName" placeholder="确认密码">
            <label for="goodsName">商品名称</label>
          </div>          
          <button class="w-100 btn btn-lg btn-primary mt-3" type="button" id="instockBtn">提交</button>
        </form>
      </div>
    </div>
    <script src="/js/axios.min.js"></script>
    <script src="/js/app.js"></script>
    <script src="/js/instock.js"></script>
  </body>
</html>
